body{
    background-color: rgb(10, 9, 9);
}
#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
  }
  
  #search-input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    place-content: red;
  }
  
  button[type="submit"] {
    height: 50px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  h1{
    color:red;
  }
  
  #search-results {
    margin-top: 30px;
    image-rendering: crisp-edges;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .movie{
    width: 200px;
    margin: 10px;
  }
  .movie img{
    height: 300px;
    width: 100%;

  }

  h3{
    color: #fff;
  }

  p{
    color: #fff;
  }
